# Python
**/__pycache__/
**/*.py[cod]
**/venv/
**/.venv/

# Environment variables
.env
.env.*
!.env.example

# Database
**/*.db
**/*.sqlite
**/*.sqlite3

# Angular
**/node_modules/
**/dist/
**/.angular/
**/coverage/

# VS Code
.vscode/

# Docker
*.log

# OS
.DS_Store
Thumbs.db